* {
  margin: 0;
  padding: 0;
  font-family: PingFangSC-Regular, sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

.MuiBox-root-1 {
  position: fixed;
  display: flex;
  height:90px;
  z-index: 9999;
}
.PrivateTabIndicator-colorSecondary-5 {
  background-color: #1790FF !important;
}
.MuiTab-textColorInherit.Mui-selected span{
  font-size: 16px;
  color: #1790FF !important ;
}
.makeStyles-root-8 {
  margin: 0 10px 0 10px;
}
.MuiCardContent-root {
  padding: 0 !important;
}
.more .MuiButton-label {
  margin-left: 10px;
  color: gray!important;
}
.MuiButton-endIcon {
  margin-left: 2px !important;
}
.MuiButton-label {
  font-size: 14px;
}
.MuiCardActions-root {
  padding: 0 !important;
}
.MuiCardContent-root {
  padding: 0 !important;
}
.MuiButton-textPrimary {
  margin-right: 10px !important;
}
.MuiBox-root-2 {
  width:100%;
  background-color:#fff;
  z-index:9999;
}
.MuiButton-textPrimary {
  color:#1790FF !important;
  line-height: 20px !important;
}
.MuiList-padding {
  padding: 0 !important;
}
.MuiTabs-flexContainer {
  justify-content: space-around;
}
.MuiListItem-root {
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  width: 90% !important;
}
.MuiTab-labelIcon .MuiTab-wrapper > *:first-child {
  width: 30%;
}
.MuiInputBase-input {
  text-align:right;
  font-size: 14px !important;
  font-weight: 400 !important;
}
.makeStyles-root-8 {
  box-shadow:  0px 2px 7px 0px rgba(169, 169, 169, 0.5) !important;
}
.makeStyles-root-9 {
  box-shadow:  0px 2px 7px 0px rgba(169, 169, 169, 0.5) !important;
}
.MuiInput-underline:before {
  content: none !important;
}
.style {
  border-bottom: 1px solid rgb(224, 221, 221);
}
.MuiListItem-gutters {
  padding-left: 0 !important;
  margin-left: 16px;
}
.MuiBox-root .MuiBox-root-58 {
  width: 100%;
  background:#fff;
  z-index: 999;
}
.PrivateTabIndicator-colorSecondary-61,
.PrivateTabIndicator-colorSecondary-173{
  background-color: #1790FF !important;
}
.MuiTabs-scroller .MuiTabs-fixed span {
  background-color: #1790FF !important;
}