.MuiPaper-root .MuiPaper-elevation0{
    width: 295px;
}
.MuiBox-root .MuiBox-root-9{
    width: 340px;
}
.MuiIconButton-label{
    position: absolute;
    top: 262px;
    color: rgb(79, 79, 224);
    left:-750%;
}
// .Mui-MuiAccordionSummary-content{
//     width: 120%;
// }
// .MuiButtonBase-root .MuiAccordionSummary-root{
//     width: 120%;
// }