.MuiPaper-root .MuiPaper-elevation0{
    width: 295px;
}
.MuiBox-root .MuiBox-root-9{
    width: 340px;
}
.MuiIconButton-label{
    position: absolute;
    top: 250px;
    color: black;
    left:-707%;
}