.icon {
  border-color: currentColor;

  :global(.MuiChip-icon) {
    color: inherit;
  }
}

.pending {
  color: #ff9800;
}

.processing {
  color: #1976d2;
}

.finished {
  color: #4caf50;
}

.overed {
  color: #ce1616;
}
